.titulo {
    font-size: 40px; 
    font-weight: 300px;
    font-family: "Segoe UI",Arial,sans-serif;
}

.table {
    width: 100%;
    background-color: white;
    color: black;
}

.table > thead {
    background-color: rgb(182, 233, 229)
}

.table > tbody {
    background-color: white;
}

.texto {
    font-size: 17px; 
    font-weight: 15px;
    font-family: "Segoe UI",Arial,sans-serif;
}
